@font-face {
  font-family: HGRKK;
  src: url(../assets/fonts/_HGRKK.woff2);
  src: url(../assets/fonts/_HGRKK.ttf);
}

* {
  font-family: Arial;
}

ruby,
ruby span {
  font-family: hgrkk;
}

ruby {
  font-size: 2em;
}

body {
  font-size: 3em;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
}

table {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #aaaaff;
}

a:visited {
  color: #551a8b;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid #888;
  width: 95%;
}

.close {
  color: #aaa;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.gramm {
  background: #220000;
}

.voc {
  background: #002200;
}

.tag_N5,
.tag_N4,
.tag_N3,
.tag_N2,
.tag_N1,
.tag_N0 {
  float: right;
}

.tag_N5 {
  color: blue;
}

.tag_N4 {
  color: green;
}

.tag_N3 {
  color: orange;
}

.tag_N2 {
  color: purple;
}

.tag_N1 {
  color: red;
}